<h1> Mon équipe </h1>
<p> Je fais partie de l'équipe de Lille dans le Nord de la France. Au départ, nous étions trois, nous sommes après un abandon. Maxime et moi sommes en liaison constante slack avec la super team normande composé de Léa et d'Edouard <br> Ensemble, c'est plus fun et plus cool</p>