<body>
	<h1>Bienvenue sur la page de présentation de mon projet</h1>
    <p>Ce projet est un test de crétation de pages statiques
    <br>Si vous voulez, vous pouvez accéder à la présentation de notre équipe en cliquant <a href="about">ici</a>
    <br>Vous pouvez aussi <a href="contact">nous contacter</a>.
    </p>
</body>    
